@import "./partials/reset";
@import "./partials/colors";

$nq-black: #212121;

.container {
    max-width: 1300px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
    &.button {
        display: inline-block;
        padding: 1rem;
        color: white;
        text-transform: uppercase;
        border: 2px solid $dc-blue;
    }
}

