
@import "./colors";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    border-top: 20px solid $nq-black;
    border-bottom: 20px solid $nq-black;
}